{% extends 'base.html.twig' %}

{% trans_default_domain 'painting' %}

{% block title %}{% trans %}Discounts{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center" style="margin-bottom: 40px">
            <h3 class="title-form-custom" style="margin-top: 20px; margin-bottom: 0px;">{% trans %}Our best Deals{% endtrans %}</h3>
        </div>
        <div class="row">
            {% for discount in discounts %}
                <div class="col-md-3" style="margin-top: 15px;">
                    <div class="card" style="max-width: 250px;">
                        <a href="{{ path('painting_view_one', {'id': discount['id'], '_locale': app.request.locale}) }}"><img src="{{ vich_uploader_asset(discount, 'imageFile', 'App\\Entity\\Painting') | imagine_filter('discount_listing') }}" class="card-img-top" alt="{{ discount['image'] }}" style="max-width: 250px; max-height: 250px;"></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ discount['title'] }}</h5>
                            <div class="d-flex justify-content-start">
                                <p class="card-text" style="margin-top: 20px; color: green; text-decoration: line-through;">{{ discount['price'] ~ ' €'}}</p>
                                <p class="card-text" style="margin: 20px 15px;"> --> </p>
                                <p class="card-text" style="margin-top: 20px; color: red;">{{ discount['price_reduced']|number_format(1, ',', ' ') ~ ' €'}}</p>
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="card-footer">
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('painting_edit_one', {'id': discount['id'], '_locale': app.request.locale}) }}" class="btn btn-outline-info" role="button">{% trans %}Edit{% endtrans %}</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
