{% extends 'base.html.twig' %}

{% trans_default_domain 'painting' %}

{% block title %}{% trans %}Paintings{% endtrans %}{% endblock %}

{% block body %}
    <div class="section">
        <div class="d-flex justify-content-center" style="margin-bottom: 40px">
            <h3 class="title-form-custom" style="margin-top: 20px; margin-bottom: 0px;">{% trans %}All our Paintings{% endtrans %}</h3>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table table-hover" style="background-color: white">
                    <thead>
                    <tr class="text-center">
                        <th>{% trans %}Image{% endtrans %}</th>
                        <th>{% trans %}Title{% endtrans %}</th>
                        <th>{% trans %}Style{% endtrans %}</th>
                        <th>{% trans %}Artist{% endtrans %}</th>
                        <th>{% trans %}Year{% endtrans %}</th>
                        <th>{% trans %}Price{% endtrans %}</th>
                        <th>{% trans %}Edit{% endtrans %}</th>
                        <th>{% trans %}Delete{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr class="text-center">
                            <td><figure style="text-align: center">
                                    <a href="{{ path('painting_view_one', {id:painting['id']}) }}"><img src="{{ asset('assets/images/paintings/') ~ painting['image'] }}" alt="{{ painting['image'] }}" style="width: 200px; height: 150px"></a>
                                    <figcaption style="font-size: 0.8em">{{ painting['media'] ~ ' ( ' ~ painting['dimensions'] ~ ' cm )' }}</figcaption>
                                </figure></td>
                            <td class="align-middle"><a class="painting-link" href="{{ path('painting_view_one', {id:painting['id']}) }}">{{ painting['title'] }}</a></td>
                            <td class="align-middle">{{ painting['style'] }}</td>
                            <td class="align-middle"><a href="{{ path('artist_view_one', {id:painting['artist_id']}) }}" class="painting-link">{{ painting['artist'] }}</a></td>
                            <td class="align-middle">{{ painting['year'] }}</td>
                            {% if painting['discount']==0 %}
                                <td class="align-middle">{{ painting['price'] ~ ' €'}}</td>
                                {% else %}
                                    <td class="align-middle" style="min-width: 100px;"><span style="text-decoration: line-through">{{ painting['price'] ~ ' €'}}</span><br/>
                                        <span style="color: red;">{{ painting['price_reduced']|number_format(1, ',', ' ') ~ ' €'}}</span>
                                    </td>
                            {% endif %}
                            <td class="align-middle"><a href="{{ path('painting_edit_one', {id:painting['id']}) }}"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a></td>
                            <td class="align-middle"><a href="{{ path('painting_delete_one', {id:painting['id']}) }}"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(paintings) }}
        </div>
    </div>
{% endblock %}
