<div class="container">
        <div class="login-zone">
            <a href="#">Login</a>
        </div>

    <div class="row">
        <div class="col-md-12">
            <img id="logo_site" src="{{ asset('assets/images/base_images/logo_site.png') }}" alt="site logo"/>
        </div>
    </div>

    {# Navbar #}
        <div class="menu-custom">
            <div class="menu-custom-border-grey">
                <div class="navbar-custom">
                    {# Element Home #}
                    <a href="{{ path('homepage') }}">Home</a>
                    {# Element Painting#}
                    <div class="dropdown-custom">
                        <button class="dropbtn-custom"><a href="{{ path('painting_all') }}">Paintings</a></button>
                        <div class="dropdown-content-custom">
                            <a href="{{ path('painting_all') }}">All</a>
                            <a href="{{ path('painting_latest_added') }}">latest added</a>
                            <a href="#">Discount</a>
                            <span>===========</span>
                            <a href="{{ path('painting_media_all') }}">Medias</a>
                            <span>===========</span>
                            <a href="{{ path('painting_style_all') }}">Styles</a>
                        </div>
                    </div>
                    {# Element Artists #}
                    <div class="dropdown-custom">
                        <button class="dropbtn-custom"><a href="{{ path('artist_all') }}">Artists</a></button>
                        <div class="dropdown-content-custom">
                            <a href="{{ path('artist_all') }}">All</a>
                        </div>
                    </div>
                    {# Element Subscribe #}
                    <a href="#">Sign-In</a>
                    {# Element Contact #}
                    <a href="#">Contact</a>
                    {# Element Forum #}
                    <a href="#">Forum</a>
                    {# Elemnt Admin #}
                    <div class="dropdown-custom">
                        <button class="dropbtn-custom"><a href="#">Admin</a></button>
                        <div class="dropdown-content-custom">
                            <a href="{{ path('painting_add') }}">Add painting</a>
                            <a href="{{ path('painting_media_add') }}">Add media</a>
                            <a href="{{ path('painting_style_add') }}">Add style</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {# END Navbar #}
</div>
