{% extends 'base.html.twig' %}

{% block title %}{{ artist['full_name'] }} : Biography{% endblock %}

{% block body %}
    <div class="big-screen-adjustment-painting" style="margin-top: 100px; margin-bottom: 100px">
        <div class="card mb-3" style="margin-left: 15px; margin-right: 15px; max-width: 1100px;">
            <div class="row no-gutters" style="display: flex; align-items: center;">
                <div class="col-md-4">
                    <figure>
                        <img src="{{ vich_uploader_asset(artist, 'imageFile', 'App\\Entity\\Artist') | imagine_filter('image_listing') }}" class="card-img" alt="{{ artist['image'] }}" style="max-width: 300px; max-height: 300px; margin-left: 15px">
                        <figcaption class="text-center text-muted">{{ artist['date_of_birth']|date('d/m/Y') ~ ' - ' ~ artist['date_of_death']|date('d/m/Y') }}</figcaption>
                    </figure>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ artist['full_name'] ~ '   (' ~ artist['country'] ~ ')' }} : </h5>
                        <p class="card-text">{{ artist['commentary'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <a href="{{ path('artist_edit_one', {id:artist['id']}) }}" class="btn btn-info btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">Edit</span></a>
            <a href="{{ path('artist_delete_one', {id:artist['id']}) }}" class="btn btn-danger btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">Delete</span></a>
        </div>
    </div>

    <div class="section">
        <h1 class="text-center" style="margin-bottom: 20px;">His/Her Paintings :</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table table-hover" style="background-color: white">
                    <thead>
                    <tr class="text-center">
                        <th>Image</th>
                        <th>Title</th>
                        <th>Style</th>
                        <th>Year</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr class="text-center">
                            <td><figure style="text-align: center">
                                    <a href="{{ path('painting_view_one', {id:painting['id']}) }}"><img src="{{ asset('assets/images/paintings/') ~ painting['image'] }}" alt="{{ painting['image'] }}" style="width: 200px; height: 150px"></a>
                                    <figcaption style="font-size: 0.8em">{{ painting['media'] ~ ' ( ' ~ painting['dimensions'] ~ ' cm )' }}</figcaption>
                                </figure></td>
                            <td class="align-middle"><a class="painting-link" href="{{ path('painting_view_one', {id:painting['id']}) }}">{{ painting['title'] }}</a></td>
                            <td class="align-middle">{{ painting['style'] }}</td>
                            <td class="align-middle">{{ painting['year'] }}</td>
                            <td class="align-middle">{{ painting['price'] ~ ' €'}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
