{% extends 'base.html.twig' %}

{% trans_default_domain 'artist' %}

{% block title %}{{ artist['full_name'] }} : {% trans %}Biography{% endtrans %}{% endblock %}

{% block body %}
    <div class="big-screen-adjustment-painting" style="margin-top: 100px; margin-bottom: 100px">
        <div class="card mb-3" style="margin-left: 15px; margin-right: 15px; max-width: 1100px;">
            <div class="row no-gutters" style="display: flex; align-items: center;">
                <div class="col-md-4">
                    <figure>
                        <img src="{{ vich_uploader_asset(artist, 'imageFile', 'App\\Entity\\Artist') | imagine_filter('image_listing') }}" class="card-img" alt="{{ artist['image'] }}" style="max-width: 300px; max-height: 300px; margin-left: 15px">
                        <figcaption class="text-center text-muted">{{ artist['date_of_birth']|date('d/m/Y') ~ ' - ' ~ artist['date_of_death']|date('d/m/Y') }}</figcaption>
                    </figure>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ artist['full_name'] ~ '   (' ~ artist['country'] ~ ')' }} : </h5>
                        <p class="card-text">{{ artist['commentary'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="d-flex justify-content-around">
        <a href="{{ path('artist_edit_one', {'id': artist['id'], '_locale': app.request.cookies.get('_locale')}) }}" class="btn btn-info btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">{% trans %}Edit{% endtrans %}</span></a>
        <a href="{{ path('artist_delete_one', {'id': artist['id'], '_locale': app.request.cookies.get('_locale')}) }}" class="btn btn-danger btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">{% trans %}Delete{% endtrans %}</span></a>
    </div>
    {% endif %}

    <div class="section">
        <h1 class="text-center" style="margin-bottom: 20px;">{% trans %}His/Her Paintings :{% endtrans %}</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table table-hover" style="background-color: white">
                    <thead>
                    <tr class="text-center">
                        <th>{% trans %}Image{% endtrans %}</th>
                        <th>{% trans %}Title{% endtrans %}</th>
                        <th>{% trans %}Style{% endtrans %}</th>
                        <th>{% trans %}Year{% endtrans %}</th>
                        <th>{% trans %}Price{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr class="text-center">
                            <td><figure style="text-align: center">
                                    <a href="{{ path('painting_view_one', {'id': painting['id'], '_locale': app.request.locale}) }}"><img src="{{ asset('assets/images/paintings/') ~ painting['image'] }}" alt="{{ painting['image'] }}" style="width: 200px; height: 150px"></a>
                                    <figcaption style="font-size: 0.8em">{{ painting['media'] ~ ' ( ' ~ painting['dimensions'] ~ ' cm )' }}</figcaption>
                                </figure></td>
                            <td class="align-middle"><a class="painting-link" href="{{ path('painting_view_one', {'id': painting['id'], '_locale': app.request.locale}) }}">{{ painting['title'] }}</a></td>
                            <td class="align-middle">{{ painting['style'] }}</td>
                            <td class="align-middle">{{ painting['year'] }}</td>
                            {% if painting['discount']==0 %}
                                <td class="align-middle">{{ painting['price'] ~ ' €'}}</td>
                            {% else %}
                                <td class="align-middle" style="min-width: 100px;"><span style="text-decoration: line-through">{{ painting['price'] ~ ' €'}}</span><br/>
                                    <span style="color: red;">{{ painting['price_reduced']|number_format(1, ',', ' ') ~ ' €'}}</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
