{% extends 'base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block title %}{% trans %}Profile:{% endtrans %} {{ profile['pseudo'] }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {# Section Profil Informations #}
            <div class="col-md-8">
                <table class="table-profile">
                    <tr>
                        <td class="width-label">
                            {% trans %}Email :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['email'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Role :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['role'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Pseudo :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['pseudo'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Signature :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['signature'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Lastname :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['lastname'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Firstname :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['firstname'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Date of birth :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {% if profile['date_of_birth'] != null %}
                            {{ profile['date_of_birth']|date('d/m/Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Country :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['country'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Likes :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['likes'] }}
                        </td>
                    </tr>
                    <tr>
                        <td class="width-label">
                            {% trans %}Dislikes :{% endtrans %}
                        </td>
                        <td class="input-profile">
                            {{ profile['dislikes'] }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <img src="{% if profile['avatar'] == 'avatar_default.png' %}
                            {{ asset('assets/images/avatar_default.png') }}
                          {% else %}
                            {{ vich_uploader_asset(profile, 'imageFile', 'App\\Entity\\UserProfile')|imagine_filter('avatar_in_profile') }}
                          {% endif %}
                          " alt="{{ profile['avatar'] }}"/>
            </div>
        </div>
        {# END Section #}

        {% if app.user %}
            {% if app.user.userprofile.pseudo == profile['pseudo'] %}
                <div class="d-flex justify-content-center">
                    <a href="{{ path('user_profile_edit_one', { 'pseudo': profile['pseudo'] }) }}" class="btn btn-info btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">Modify informations</span></a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
