{% extends 'base.html.twig' %}

{% trans_default_domain 'profile' %}

{% block title %}{% trans %}Users : All{% endtrans %}{% endblock %}

{% block body %}
    <div class="section">
        <div class="d-flex justify-content-center" style="margin-bottom: 40px">
            <h3 class="title-form-custom" style="margin-top: 20px; margin-bottom: 0px;">{% trans %}All our Users{% endtrans %}</h3>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table table-hover" style="background-color: white">
                    <thead>
                    <tr class="text-center">
                        <th>{% trans %}Avatar{% endtrans %}</th>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <th>{% trans %}Username{% endtrans %}</th>
                        <th>{% trans %}See Profile{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr class="text-center">
                            <td>
                                <img src="{% if user['avatar'] == 'avatar_default.png' %}
                                          {{ asset('assets/images/avatar_default.png') }}
                                          {% else %}
                                          {{ vich_uploader_asset(user, 'imageFile', 'App\\Entity\\UserProfile')|imagine_filter('listing_element_admin') }}
                                          {% endif %}
                                          " alt="{{ user['avatar'] }}" style="{% if user['avatar'] %}width: 100px; height: 80px;{% endif %}"/>
                            </td>
                            <td class="align-middle">{{ user['email'] }}</a></td>
                            <td class="align-middle">{{ user['pseudo'] }}</td>
                            <td class="align-middle"><a href="{{ path('user_profile_view_one', { '_locale': app.request.locale, 'pseudo': user['pseudo'] }) }}" style="color: grey;"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
