{% extends 'base.html.twig' %}

{% block title %}{{ style['name'] }} : Description{% endblock %}

{% block body %}
    <div class="big-screen-adjustment-painting" style="margin-top: 100px; margin-bottom: 100px">
        <div class="card mb-3" style="margin-left: 15px; margin-right: 15px; max-width: 1100px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ asset('assets/images/styles/' ~ style['image']) }}" class="card-img" alt="{{ style['image'] }}" style="width: 300px; height: 300px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ style['name'] }} : </h5>
                        <p class="card-text">{{ style['description'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around">
            <a href="{{ path('painting_style_edit_one', {id:style['id']}) }}" class="btn btn-info btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">Edit</span></a>
            <a href="{{ path('painting_style_delete_one', {id:style['id']}) }}" class="btn btn-danger btn-lg btn-submit-custom" role="button"><span style="font-size: 1.5em;">Delete</span></a>
        </div>
    </div>

    <div class="section">
        <h1 class="text-center" style="margin-bottom: 20px;">Artworks painted in {{ style['name'] }} style :</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table table-hover" style="background-color: white">
                    <thead>
                    <tr class="text-center">
                        <th>Image</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Year</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for painting in paintings %}
                        <tr class="text-center">
                            <td><figure style="text-align: center">
                                    <a href="{{ path('painting_view_one', {id:painting['id']}) }}"><img src="{{ asset('assets/images/paintings/') ~ painting['image'] }}" alt="{{ painting['image'] }}" style="width: 200px; height: 150px"></a>
                                    <figcaption style="font-size: 0.8em">{{ painting['media'] ~ ' ( ' ~ painting['dimensions'] ~ ' cm )' }}</figcaption>
                                </figure></td>
                            <td class="align-middle"><a class="painting-link" href="{{ path('painting_view_one', {id:painting['id']}) }}">{{ painting['title'] }}</a></td>
                            <td class="align-middle"><a href="{{ path('artist_view_one', {id:painting['artist_id']}) }}" class="painting-link">{{ painting['artist'] }}</a></td>
                            <td class="align-middle">{{ painting['year'] }}</td>
                            {% if painting['discount']==0 %}
                                <td class="align-middle">{{ painting['price'] ~ ' €'}}</td>
                            {% else %}
                                <td class="align-middle" style="min-width: 100px;"><span style="text-decoration: line-through">{{ painting['price'] ~ ' €'}}</span><br/>
                                    <span style="color: red;">{{ painting['price_reduced']|number_format(1, ',', ' ') ~ ' €'}}</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
