{% extends 'base.html.twig' %}

{% trans_default_domain 'style' %}

{% block title %}{% trans %}Edit a style{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center title-form-custom">{% trans %}Edit a style{% endtrans %}</h1>
        {{ form_start(form) }}
        <div class="d-flex justify-content-center align-items-end">
            <div class="col-md-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.imageFile) }}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-md-7">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
