{% extends 'base_admin.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}Artists{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
        <a href="{{ path('admin_artist_add', { '_locale': app.request.locale }) }}" class="btn btn-outline-info btn-lg" role="button">{% trans %}Add one.m{% endtrans %}</a>
    </div>

    <div class="container">
        <table class="table table-hover table-dark">
            <thead>
            <tr class="text-center">
                <th scope="col">{% trans %}Image{% endtrans %}</th>
                <th scope="col">{% trans %}Lastname{% endtrans %}</th>
                <th scope="col">{% trans %}Firstname{% endtrans %}</th>
                <th scope="col">{% trans %}Country{% endtrans %}</th>
                <th scope="col">{% trans %}Edit{% endtrans %}</th>
                <th scope="col">{% trans %}Delete{% endtrans %}</th>
            </tr>
            </thead>
            <tbody class="painting-list-cell">
            {% for artist in artists %}
                <tr class="text-center">
                    <th scope="row"><a href="{{ path('artist_view_one', { '_locale': app.request.locale, 'id': artist['id'] }) }}"><img src="{{ vich_uploader_asset(artist, 'imageFile', 'App\\Entity\\Artist') | imagine_filter('listing_element_admin') }}" alt="{{ artist['image'] }}"/></a></th>
                    <td class="align-middle">{{ artist['lastname'] }}</td>
                    <td class="align-middle">{{ artist['firstname'] }}</td>
                    <td class="align-middle">{{ artist['country'] }}</td>
                    <td class="align-middle"><a href="{{ path('admin_artist_edit', { '_locale': app.request.locale, 'id': artist['id'] }) }}"><i class="fa fa-magic fa-2x" aria-hidden="true" style="color: white;"></i></a></td>
                    <td class="align-middle"><a href="{{ path('admin_artist_delete', { '_locale': app.request.locale, 'id': artist['id'] }) }}"><i class="fa fa-ban fa-2x" aria-hidden="true" style="color: white;"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(artists) }}
        </div>
    </div>
{% endblock %}
